<%- include('partials/header2') %>

<nav class="navbar">
  <ul class="top">
    <h3>経費</h3>
    <li><a href="/jmkotsuhi4">交通費</a></li>
  </ul>
</nav>

<form action="/jmkehi4" method="post"> <!-- 年月 -->
  <input type="hidden" name="year" value="<%- year %>">
  <input type="hidden" name="month" value="<%- nowmonth %>">
  <input type="hidden" name="status" value="1=1">
  <input type="hidden" name="employee" value="1=1">
  <div class="date_box">
    <button class="last" name="previousmonth" value="-1">◀</button>
    <b><%- year %>年 <%- nowmonth %>月分</b>
    <button class="next" name="nextmonth" value="+1">▶</button>
  </div>
</form>

<form action="/jmkehi4" method="post">
  <div class="search_box">
    <input type="hidden" name="year" value="<%- year %>">
    <input type="hidden" name="month" value="<%- nowmonth %>">
    <div class="d">表示条件：ステータス</div>
    <select name="status2" id="status2" class="select">
      <option value="1=1">全て</option>
      <option value="status='00'">未申請</option>
      <option value="status='11'">JobM申請中</option>
      <option value="status='19'">JobM却下</option>
      <option value="status='21'">経理申請中</option>
      <option value="status='88'">承認</option>
      <option value="status='29'">経理却下</option>
    </select>
    <div class="d">社員</div>
    <select name="employee" id="employee" class="select">
      <option value="1=1">全て</option>
      <% for(var i=0;i<shain.length;i++){ %> 
        <option value="emp_no='<%- shain[i].emp_no %>'"><%- shain[i].emp_name %></option>
        <% } %> 
    </select>
    <div class='form-group form-inline'>
      <label>ジョブ</label>
      <select name="job_no2" id="job_no2" class="select">
        <option value="1=1">全て</option>
        <% for(var i=0;i<job.length;i++){ %> 
        <option value="job_no='<%- job[i].job_id %>'"><%- job[i].job_name %></option>
        <% } %> 
      </select>
    </div>
    <div class='form-group form-inline'>
      <label>期間</label>
      <input id="yyy1" name="yyy1" size="4" required placeholder="yyyy"><input id="m1" name="m1" size="2" required placeholder="mm"><input id="d1" name="d1" size="2" required placeholder="dd">~
      <input id="yyy2" name="yyy2" size="4" required placeholder="yyyy"><input id="m2" name="m2" size="2" required placeholder="mm"><input id="d2" name="d2" size="2" required placeholder="dd">
    </div> 
  <input type="submit" name="display" value="表示" class="search">  
  </div>
</form>

  <!-- テーブルタイトル -->
<table>
  <tr>
    <th width="8%">ステータス</th>
    <th width="11%">勘定科目</th>
    <th width="11%">摘要</th>
    <th width="5%">立替</th>
    <th width="5%">JobC</th>
    <th width="3%">月</th>
    <th width="3%">日</th>
    <th width="7%">金額</th>
    <th width="11%">支払先</th>
    <th width="5%">RefNo</th>
    <th width="4%">承認</th>
    <th width="4%">却下</th>
    <th width="23%">コメント</th>
  </tr>
</table>

<form method="POST" action="/jmkehi4" name='set'>
    <!-- サブヘッダー -->
    <% var jn; %> 
    <% if(rireki[0]==null){ %>
      <p>該当データはありません</p>
    <% }else{ %> 
      <% for(var i=0;i<shain.length;i++){ %> 
        <p>社員名：<%- shain[i].emp_name %></p>
        <% jn=0; %> 
        <% for(var j=0;j<rireki.length;j++){ %>
          <% if(rireki[j].emp_no===shain[i].emp_no&&rireki[j].job_no!==jn){ %>
            <p><%- rireki[j].job_no %></p>
            <% jn=rireki[j].job_no; %> 
            <% for(var k=0;k<rireki.length;k++){ %>
              <% if(shain[i].emp_no===rireki[k].emp_no&&rireki[k].job_no===rireki[j].job_no){ %>
    
    <!-- データテーブル -->
      <table>
        <tr>
            <% if(rireki[k].status=="00"){ %>
            <td width="8%" class="first" rowspan="2">未申請</td>
            <% }else if(rireki[k].status=="11"){ %> 
                <td width="8%" class="first" rowspan="2">JM申請中</td>
            <% }else if(rireki[k].status=="19"){ %> 
                <td width="8%" class="first" rowspan="2">JM却下</td>
            <% }else if(rireki[k].status=="21"){ %>
                <td width="8%" class="first" rowspan="2">経理申請中</td>
            <% }else if(rireki[k].status=="29"){ %>
                <td width="8%" class="first" rowspan="2">経理却下</td>
            <% }else if(rireki[k].status=="88"){ %>  
                <td width="8%" class="first" rowspan="2">承認</td>
            <% } %> 
            <% if(rireki[k].code_name=="0"){ %>
            <td width="11%">消耗品費</td>
            <% }else if(rireki[k].code_name=="1"){ %> 
                <td width="11%">新聞図書費</td>
            <% }else if(rireki[k].code_name=="2"){ %> 
                <td width="11%">会議費</td>
            <% }else if(rireki[k].code_name=="3"){ %>
                <td width="11%">交際費</td>
            <% }else if(rireki[k].code_name=="4"){ %>
                <td width="11%">その他</td>
            <% } %> 
            <td width="11%"><%-rireki[k].summary %></td>
            <% if(rireki[k].claim_flag=="1"){ %>
            <td width="5%"><input id="chkbox0" type="checkbox" checked/></td>
            <% }else if(rireki[k].claim_flag=="0"){ %> 
            <td width="5%"><input id="chkbox0" type="checkbox"/></td>
            <% } %> 
            <% if(rireki[k].charge_flag=="1"){ %>
            <td width="5%"><input id="chkbox0" type="checkbox" checked/></td>
            <% }else if(rireki[k].charge_flag=="0"){ %> 
            <% } %>
            <td width="3%" class="greyout"><%-rireki[k].month %></td>
            <td width="3%" class="greyout"><%-rireki[k].day %></td>
            <td width="7%" class="greyout"><%- rireki[k].amount %></td>
            <td width="11%" class="greyout"><%- rireki[k].payee %></td>
            <td width="5%" class="greyout"><%- rireki[k].ref_no %></td>

          <input type='hidden' name="<%- rireki[k].branch_no %>">
          <input type="hidden" class='form-control' value="emp_no='<%- rireki[k].emp_no %>' and sheet_year='<%- rireki[k].sheet_year %>' and sheet_month='<%- rireki[k].sheet_month %>' and branch_no='<%- rireki[k].branch_no %>'" name="approve" />
          <input type="hidden" class='form-control' value="emp_no='<%- rireki[k].emp_no %>' and sheet_year='<%- rireki[k].sheet_year %>' and sheet_month='<%- rireki[k].sheet_month %>' and branch_no='<%- rireki[k].branch_no %>'" name="deny" />

          <td width="4%" class="first" rowspan="2">
            <input type="radio" class='form-control' value="1" onclick="radioDeselection(this, 1)" name=<%- radioname[k] %> />
          </td>
          <td width="4%" class="first" rowspan="2">
            <input type="radio" class='form-control' value="2" onclick="radioDeselection(this, 2)" name=<%- radioname[k] %> />
          </td>
          <td width="23%" class="first" rowspan="2">
            <input type="text" class='textsize'/>
          </td>
        </tr>
        <tr>
          <td class="comment" colspan="9"><%- rireki[k].remarks %></td>
        </tr>
      </table>
      <% } %>  
      <% } %> 
      <% } %>  
    <% } %>  
    <% } %> 
    <% } %> 
    
    <div class="box">
        <input type="button" id="b4" name='b4' value="全て承認" class="allcheck" onClick="allcheck(set,1)">
        <input type="button" id="b3" name='b3' value="全解除" class="allcheck2" onClick="allcheckout(set)">
        <input type="submit" id='confirm' value="確定" class="OK" name='confirm'>
      </div>

    </form>
      
    <%- include('partials/footer2') %>
