<!DOCTYPE html>
<html>
  <head class= 'container p-3'>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
    <style>
    .list {
      display: flex;
			position:relative;
      top:10px;
			left:847px;
    }
    .all {
      display: flex;
    }
    *{/* 初期化 */
			margin:0px;
      padding:0px;
		}
    .b1 {opacity:0.4; }
    table {
      width: 1410px;
      margin-left: 10px;
      margin-top: 10px;
    }
    th {
      background-color: aqua;
    }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>経費データ</h2>
    <h3><%= h3 %></h3>
    <td id="job_manager0", name="job_manager0">111</h3>　ログイン者社員番号が入る
    <div class="all">
      <div class="form-group btn">
        <input type="button" id="b1" value="経費" class="btn btn-primary b1" onclick="location.href='http://localhost:3000/jmkehi'">
        <input type="button" id="b2" value="交通費" class="btn btn-primary b2" onclick="location.href='http://localhost:3000/jmkotsuhi'">
      </div>
      <form method="POST" action="/jmkehi">
        <div class='list'>
          <div class='form-group form-inline'>
            <label>ステータス</label>
            <select id="status2" name="status2" class='form-control' >
              <option value="">全て</option>
              <option value="00">未申請</option>
              <option selected value="11">JM申請中</option>
              <option value="19">JM却下</option>
              <option value="21">経理申請中</option>
              <option value="29">承認</option>
              <option value="88">却下</option>
            </select>
          </div>

          <div class='form-group form-inline'>
            <label>社員</label>
            <select id="emp_name2" name="emp_name2" class='form-control'>
              <option selected >全て</option>
              <option>山田花子</option>
              <option>山田太郎</option>
              <option>田中一郎</option> 
            </select>
          </div>
          <div class='form-group form-inline'>
            <label>ジョブコード</label>
            <input id="job_no2" type="text" name="job_no2" size="10">
          </div>

          <div class='form-group form-inline'>
            <label>期間</label>
            <input id="yyy1" name="yyy1" size="4"><input id="m1" name="m1" size="2"><input id="d1" name="d1" size="2">~
            <input id="yyy2" name="yyy2" size="4"><input id="m2" name="m2" size="2"><input id="d2" name="d2" size="2">
          </div>
          <input type="submit" id='narrowDown' value="絞り込む" class="btn btn-danger" name='narrowDown' >
        </div>
      </form>
  </div>

  <table>
  <!-- <table border="1"> -->
    <!-- テーブルタイトル -->
    <tr>
      <th rowspan="2">ステータス</th>
      <th rowspan="2">RefNo</th>
      <th rowspan="2">From</th>
      <th rowspan="2">To</th>
      <th rowspan="2">回数</th>
      <th rowspan="2">立替</th>
      <th rowspan="2">JobC</th>
      <th rowspan="2">利用日</th>
      <th rowspan="2">単価</th>
      <th rowspan="2">小計</th> 
      <th colspan="4">JM承認</th>
    </tr>
    <tr>
      <th>未</th>
      <th>承認</th>
      <th>却下</th>
      <th>コメント入力</th>
    </tr>

    <!-- レコード列。DBから取ってくる -->
    <% for(let i in status) { %> 
      <tr>
        <td><%= status[i] %></td>
        <td><%= ref_no[i] %></td>
        <td><%= month[i] %>/<%= day[i] %></td>
        <td><%= code_name[i] %></td>
        <td><%= summary[i] %></td>
        <td><%= claim_flag[i] %></td>
        <td><%= charge_flag[i] %></td>
        <td><%= amount[i] %></td>
        <td><%= payee[i] %></td>
        <td></td>
  
        <td>
          <input type="radio" name="status" value="0" >
        </td>
        <td>
          <input type="radio" name="status" value="1" >
        </td>
        <td>
          <input type="radio" name="status" value="2" >
        </td>
      </tr>
      <% } %>  
  </table>

  </body>
</html>