<!DOCTYPE html>
<html>
  <head class= 'container p-3'>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
    <style>
    .list {
      display: flex;
			position:relative;
      top:10px;
			left:847px;
    }
    .all {
      display: flex;
    }
    *{/* 初期化 */
			margin:0px;
      padding:0px;
		}
    .b2 {opacity:0.4; }
    table {
      width: 1410px;
      margin-left: 10px;
      margin-top: 10px;
    }
    th {
      background-color: aqua;
    }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>交通費データ</h2>
    <h3><%= h3 %></h3>
    <div class="all">
      <div class="form-group btn">
        <input type="button" id="b1" value="経費" class="btn btn-primary b1" onclick="location.href='http://localhost:3000/jmkehi'">
        <input type="button" id="b2" value="交通費" class="btn btn-primary b2" onclick="location.href='http://localhost:3000/jmkotsuhi'">
      </div>
      <form method="POST" action="/jmkotsuhi">
        <div class='list'>
          <div class='form-group form-inline'>
            <label>ステータス</label>
            <select id='status2' name='status2' class='form-control' value='JM申請中'>
              <option>全て</option>
              <option>未申請</option>
              <option>JM申請中</option>
              <option>経理申請中</option>
              <option>承認</option>
              <option>却下</option>
            </select>
          </div>
          <div class='form-group form-inline'>
            <label>社員</label>
            <select id='emp_name2' name='emp_name2' class='form-control'>
              <option>全て</option>
              <option>aaa</option>
              <option>bbb</option>
              <option>ccc</option>
            </select>
          </div>
          <div class='form-group form-inline'>
            <label>ジョブコード</label>
            <input id="job_no" type="text" name="job_no">
          </div>
          <div class='form-group form-inline'>
            <label>年</label>
            <input id='yyy1' name='yyy1' class='form-control'>
            <inputt id='m1' name='m1' class='form-control'>
            <input id='d1' name='d1' class='form-control'>
            ~
            <input id='yyy2' name='yyy2' class='form-control'>
            <input id='m2' name='m2' class='form-control'>
            <input id='d2' name='d2' class='form-control'>
          </div>
          <input type="submit" id='narrowDown' value="絞り込む" class="btn btn-danger" name='narrowDown'>
        </div>
      </form>
  </div>

  <table>
  <!-- <table border="1"> -->
    <!-- テーブルタイトル -->
    <tr>
      <th rowspan="2">ステータス</th>
      <th rowspan="2">RefNo</th>
      <th rowspan="2">利用日</th>
      <th rowspan="2">From</th>
      <th rowspan="2">To</th>
      <th rowspan="2">回数</th>
      <th rowspan="2">立替</th>
      <th rowspan="2">JobC</th>
      <th rowspan="2">単価</th>
      <th rowspan="2">小計</th> 
      <th colspan="4">JM承認</th>
    </tr>
    <tr>
      <th>未</th>
      <th>承認</th>
      <th>却下</th>
      <th>コメント入力</th>
    </tr>

    <!-- <td>JM申請中</td>
    <td>1</td>
    <td>6/18</td>
    <td>赤坂</td>
    <td>大島</td>
    <td>8</td>
    <td>0</td>
    <td>1</td>
    <td>307</td>
    <td>2421</td>
    <td></td> -->

   <% for(let i in status) { %> 
    <tr>
      <td><%= status[i] %></td>
      <td><%= ref_no[i] %></td>
      <td><%= month[i] %>/<%= day[i] %></td>
      <td><%= trans_from[i] %></td>
      <td><%= trans_to[i] %></td>
      <td><%= count[i] %></td>
      <td><%= claim_flag[i] %></td>
      <td><%= charge_flag[i] %></td>
      <td><%= amount[i] %></td>
      <td><%= total %></td>
      <td>
        <!-- 確定ボタン押下時にjmkotsuhi.jsへPOST（tecommentへINSERTするため） -->
        <form method="POST" action="/jmkotsuhi">
          <input type="hidden" name="emp_no" value=<%= emp_no[i] %>>
          <input type="hidden" name="sheet_year" value=<%= sheet_year[i] %>>
          <input type="hidden" name="sheet_month" value=<%= sheet_month[i] %>>
          <input type="hidden" name="branch_no" value=<%= branch_no[i] %>>
          <input type="hidden" name="job_manager" value=<%= job_manager[i] %>>
          <input type="hidden" name="new0" value=<%= new0[i] %>>
          <input type="hidden" name="new_date" value=<%= new_date[i] %>>
          <input type="hidden" name="renew" value=<%= renew[i] %>>
          <input type="hidden" name="renew_date" value=<%= renew_date[i] %>>
        <input type="radio" name="status" value="0">
      </td>
      <td>
        <input type="radio" name="status" value="1">
      </td>
      <td>
        <input type="radio" name="status" value="2">
      </td>
      <td>
        <input type="text" name="comment" >
      </td>
    </form>
    </tr>
    <tr>
      <td><%= remarks[i] %></td> 
    </tr>
    <% } %>   
    </table>

  </body>
</html>